<body>
    <div class="container">
        <div class=row>
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="margin-top: 200px;">
                <div class="row">
                        <p style="font-weight: bold;font-size: 34px;margin-left: 13%;">Forgot Password</p><br><br><br>
                        <p style="font-size: 14px;color: grey;line-height: 23px;">Please provide your username. We will send you an email to your registered mail address with a temporary password to recover your account!</p>
                </div><br>

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="margin-left: 40px;">
                    <div class="form-group">
                        <input type="text" style="width: 250px;" formControlName="username" placeholder="Username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a routerLink="../login"><i class="fa fa-arrow-left"> Return to Login</i></a>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" ></span>
                            Send Email
                        </button>
                    </div>
                </form>

            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</body>
