@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@562&family=Dosis:wght@600&family=Montserrat:ital,wght@1,300;1,400&display=swap');
.col-sm-4{
    padding:3% 3%;
}
.row{
    margin-left:10%;
    margin-right:10%;
    
}
.post{
    padding:5%;
}